<div class="container-fluid">
	<?php if (!$event) { ?>
	<div><?= translate_word('no_event', $lang) ?></div>
	<?php } else { ?>

	<?php foreach($event_artists as $event_artist) { ?>
		<?php if ($event_artist->is_headliner) { ?>
			<h2><?= $event_artist->name ?></h2>
		<?php } ?>
	<?php } ?>
	<div class="row-fluid">
		<div class="span6 event-view">
			<?php foreach($event_artists as $event_artist) { ?>
				<?php if (!$event_artist->is_headliner) { ?>
					<span class="bold green">+ <?= $event_artist->name ?></span>
					<br>
				<?php } ?>
			<?php } ?>
			<?php if($event->image_url) { ?>
				<img class="pull-left" src="<?= $image_prefix.$event->image_url ?>" />
			<?php } ?>
		</div>

		<div class="span6 event">
			<p><span class="bold"><?= $event->venue_name ?></span></p>
			<?php if ($event->age_restricted) { ?>
				<p><b>18+</b></p>
			<?php } ?>
			<p><?= $event->date ?></p>
			<p><?= translate_word('doors', $lang) ?>: <?= $event->door_time ?></p>
			<p><?= translate_word('show', $lang) ?>: <?= $event->show_time ?></p>
			<a class="button" href="<?= translate_event_field($event, 'ticket_url', $lang) ?>">
				<?= translate_word('purchase_tickets', $lang) ?>
			</a>
			<br/><br/>
			<p><?= $event_artists[0]->bio_en ?></p>
			<p>
				<?php if ($event_artists[0]->facebook_url) { ?>
					<a class="icon facebook" href="<?=trim($event_artists[0]->facebook_url)?>" target="_blank"></a>
				<?php } ?>
				<?php if ($event_artists[0]->twitter_url) { ?>
					<a class="icon twitter" href="<?=trim($event_artists[0]->twitter_url)?>" target="_blank"></a>
				<?php } ?>
				<div style="clear: all"></div>
			</p>
		</div>
	</div>
	<?php } ?>
</div>