a {
	color: #848c43;
	text-decoration: none;
}

a:hover, a:focus {
	color: #848c43;
	text-decoration: underline;
}

hr {
	margin: 5px 0;
	border: 0;
	border-bottom: 2px solid #000;
}

.heading h1 {
	background-color: black;
	text-align: center;
	color: white;
	font-size: 24px;
}

#wrapper {
	margin: 0 auto;
	width: 940px;
	overflow: hidden;	
}

#header {
	background-image: url('/media/images/themes/greenland/greenland_banner_bw.jpg');
	height: 198px;
	width: 100%;
	border-bottom: 5px solid black;
}

#header .logo {
	float: left;
	height: 107px;
	margin-top: 44px;
	margin-left: 33px;
	width: 400px;
}

#content {
	float: left;
	margin-right: 15px;
	width: 620px;
}

#content .listing {
	border-top: 1px solid black;
	margin-bottom: 5px;
	padding: 5px;
}

#content .listing:hover { background-color: #f2f3f3;}

#content .listing img { 
	float: left;
	margin-right: 5px;
	width: 150px;
}

#content .listing .details {
	float: left;
	width: 380px;
}

#content .listing .details .headliner {
	color: #848c43;
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	margin: 0px;
}

#content .listing .details .opener {
	color: #848c43;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin: 0px;
}

#content .listing .tickets {
	float: left;
	text-align: right;
	width: 75px;
	padding-top: 5px;
}

#content .listing .tickets a {
	background-color: #000;
	border-radius:4px;
	color: white;
	font-weight: bold;
	padding: 4px;
}
#content .listing .tickets a:hover {
	background-color: #848c43;
	color: black;
	text-decoration: none;
}

#sidebar {
	float: left;
	width: 300px;
}

#sidebar .just_announced {
	border-top: 1px solid black;
	padding: 5px;
}

#sidebar .just_announced:hover { background-color: #f2f3f3;}

#sidebar .just_announced .artist { font-weight: bold; }

/* Event View */
#event .event_details {
	float: left;
	margin-right: 10px;
	width: 500px;
}

#event .event_details .openers { font-weight: bold; }

#event .event_details .tickets {
	background-color: #848c43;
	color: black;
	border-radius:4px;
	font-weight: bold;
	padding: 4px;
}
#event .event_details .tickets:hover {
	background-color: #000;
	color: white;
	text-decoration: none;
}
#event .event_details .social_media {
	display: block;
	float: left;
	height: 36px;
	overflow: hidden;
	text-indent: -10000px;
	width: 36px;
}
#event .event_details .facebook { background: url("/media/images/themes/greenland/social_media/facebook-32.png") no-repeat scroll 0 0 transparent; }
#event .event_details .twitter { background: url("/media/images/themes/greenland/social_media/twitter-32.png") no-repeat scroll 0 0 transparent; }

#event .event_image {
	float: left;
	width: 430px;
}
#event .event_image img { width: 430px; }

#menu {
	color: white;
	background-color: black;
	height: 36px;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}

#menu .lang {
	float: left;
	font-size: 20px;
	font-weight: bold;
	line-height: 36px;
	padding-left: 5%;
}

#menu .social_media {
	background-color: black;
	height: 36px;
}

#menu .social_media div {
	height: 36px;
	width: 36px;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
#menu .social_media a {
	display: block;
	float: left;
	height: 36px;
	overflow: hidden;
	text-indent: -10000px;
	width: 36px;
}
#menu .social_media .facebook { background: url("/media/images/themes/greenland/social_media/facebook-32.png") no-repeat scroll 0 0 transparent; }
#menu .social_media .twitter { background: url("/media/images/themes/greenland/social_media/twitter-32.png") no-repeat scroll 0 0 transparent; }
#menu .social_media .instagram { background: url("/media/images/themes/greenland/social_media/instagram-32.png") no-repeat scroll 0 0 transparent; }
#menu .social_media .email { background: url("/media/images/themes/greenland/social_media/email-32.png") no-repeat scroll 0 0 transparent; }
